version: '3'

services:

  db:
    image: mongo:latest
    container_name: video-db

  streaming:
    depends_on:
      - db
    image: video-streaming
    build:
      context: ./streaming
      dockerfile: Dockerfile-prod
    container_name: video-streaming
    ports:
      - "4000:80"
    environment:
      PORT: 80
    env_file: ./streaming/.env

  storage:
    image: video-storage
    build:
      context: ./s3-storage
    container_name: video-storage
    ports:
      - "4001:80"
    environment:
      PORT: 80
    env_file: ./s3-storage/.env