version: '3'

services:

  db:
    image: mongo:latest
    container_name: video-db

  streaming:
    depends_on:
      - db
    image: video-streaming
    build:
      context: ./express-streaming-ms
      dockerfile: Dockerfile-dev
    container_name: video-streaming
    ports:
      - "4000:80"
    environment:
      PORT: 80
    env_file: ./express-streaming-ms/.env
    volumes:
      - ~/.npm:/root/.npm:z
      - ./express-streaming-ms/src:/app/src:z

  storage:
    image: video-storage
    build:
      context: ./s3-storage
    container_name: video-storage
    ports:
      - "4001:80"
    environment:
      PORT: 80
    env_file: ./s3-storage/.env